{% extends 'base.html'%}

{% block title%}about{% endblock title%}
{%block aboutactive %}active{% endblock aboutactive%}

{% block body%}
<div class="container my-4 ">
<div class="jumbotron border border-1 border-muted text-white bg-dark ">
    <p class=" container text-white "><center><h4>ABOUT ZAHEEN</h4></center>
        Okay, so finally you are here to know about me.<br>
        How ducking cool is that na?
        I am a simple guy, the guy who reads, the guy who writes and the guy who helps. Also, I like talking, but if you remove your shit then I will shit.<br>
        
        Ahh, your question tho. Who am I? Why I am so interested in writing and helping people?<br>
        To be honest, I will be a toddler, why should I tell you?<br>
        But lemme answer what everyone knows, my name is Zaheen Maruf. I am not a teenager anymore. Adult, it seems now. Adulthood is actually quite monotonous. <br>
        I grew up in India and I’m still growing up. The process never ends.
        
        I write because I want to write. Sounds simple right? <br>But again, people say I help them when they are screwed up. So here I am, not here to spread love but actually to tell you what you are. 
        
        Most of the time my statements do work.<br> At times it is all about poop. Anyway, the poop has to be cleaned, well I will just tell you ‘ways to prevent poop in the first place.’<br>
        
        Also, I do not have a degree in psychology, just a human. Not a scholar. 
        
        Plus, I write about self, which is certainly styling. <br>
        
        Hope you enjoy reading, and if my words help you improve your duking life. Write.<br> Not in a journal. <br>Write to me.<br> regards,no regards.like.tbh.<br>No ducks given by,<br>Zaheen
        </p>
    <hr class="my-4" style="background:white">
     

     </div>
  
  </div>



   
  

{%endblock body%}