{% extends 'base.html' %}

{% block body %}

<div class="container my-2">

     <div class="container my-2">
     
     {% for book in userdf2 reversed %}
       <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <div class="container">
        Post by <span>{{book.user.username}}</span>
       <p><h4 >{{book.title}}  </h4></p>
       <p class="lead">{{book.content}}</p>
       </div>
      </div>
      </div>
        {% endfor %}
      

       
</div>
{% endblock body %}