{% extends 'base.html'%}
{% load static %}
{% block title%}SEARCH RESULTS{% endblock title%}


{% block body%}
<div class="container my-4">
    

<div class="col-md-8 blog-main">
    <div class="container">
        <h4>SEARCH RESULTS:</h4>
    </div>
    <br>
  <div class="container">

    {% for post in allpost  %}
  
        
        <div class="card flex-md-row mb-4 box-shadow h-md-250 border border-1 border-dark">
            <div class="card-body d-flex flex-column align-items-start">
              <strong class="d-inline-block mb-2 text-primary">{{post.author}}</strong>
              <h3 class="mb-0">
                <a class="text-dark" href="#">{{post.title}}</a>
              </h3>
              <div class="mb-1 text-muted">{{post.datetime}}</div>
              <p class="card-text mb-auto">{{post.content | truncatechars:300}}</p>
            <div class="my-2">
                 
                  <button class="btn border-dark text-dark btn-lg rounded-0" href="/blog/{{post.slug}}" role="button">Continue reading</button>
                
               </div>
            </div>
           
          </div>
        
  {% endfor %}
  </div>
</div>
</div>

{%endblock body%}